
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #2f1900;
}

.navbar-brand img {
    width: 80px;
  }
.navbar-nav {
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    /* font-family: 'Franklin Gothic Medium';
    font-weight: 300; */
  }
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
  }

  .Mobile-site-title {
    display: none;
  }

  /* Mobile offcanvas Nav */
  
.offcanvas {
  background-color: #2f1900;
}

#offcanvasExample {
  width: 100%;
}

.offcanvas-title {
  color: #fff;
  text-align: left;
  padding-left: .4em;
  font-weight: bold;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
    background: burlywood;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-content {
  z-index: 1;
}

.hero-content-width {
  text-align: center; 
}

/* Custom Container for overlay */

.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

/* End of custom container */

.hero-scroll-btn a {
    text-decoration: none;
}
.hero-scroll-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  color: #fff;
}

.hero-scroll-btn:hover {
    color: lightgray;
}

.hero-scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

/* MENU */
/* Start of Menu CSS */
.menu-section {
padding-left: 1rem;
padding-right: 1rem;
overflow: hidden;
background-color: ivory;
}

h3 {
    display:inline-block;
    font-size:32px;
    line-height:36px;
    position:relative;
    margin-top:28px;
    margin-bottom:15px;
  }
  h3:before{
    left:-40px;
    height:0;
    height:1px;
  }
  h3:before, h3:after {
    content:"";
    position:absolute;
    bottom:18px;
    height:1px;
    width:40px;
    margin:0 -15px;
    background-color:#533834;
  }
  h3:after{
    right:-40px;
  }
  h5 {
    font-size:16px;
    line-height:22px;
    margin:0 0 15px;
    font-weight:400;
  }
  .item {
    position:relative;
    overflow:hidden;
    margin-bottom:20px;
  }
  .item h4, .item p {
    display:block;
    clear:both;
    color:#533834;
  }
  .item p {
    clear:both;
    color:#938372;
    margin-left:5px;
  }
  .item span:first-of-type {
    background-image:linear-gradient(to right,rgba(56,47,47,.5) 33%,rgba(0,0,0,0) 0%);
    background-position:bottom;
    background-size:3px 1px;
    background-repeat:repeat-x;
    height:1px;
    width:100%;
    position:absolute;
    top:22px;
  }
  /* Dots in IE */
  @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    .dots {
      background:transparent url('/img/dot.gif') repeat-x bottom left;
    }
  }
  /* .badge {
    display:inline-block;
    padding:0 10px;
    background:#d2c82a;
    font-size:12px;
    font-weight:300;
    line-height:26px;
    color:#fff;
    text-align:center;
    vertical-align:middle;
    text-transform:uppercase;
    border:1px solid rgba(0,0,0,.05);
    letter-spacing:1px;
    border-radius:3px;
    margin:-2px 5px 0 0;
  } */
  /* .note {
    padding:0 5px 0 7px;
    min-width:23px;
    background:rgba(0,0,0,0);
    border:1px solid #382f2f;
    color:#382f2f;
    box-sizing:border-box;
    border-radius:12px;
    line-height:21px;
  }
  .veggie {
    color:#82b440;
    border-color:#82b440;
  }
  .spicy {
    color:#ec4e00;
    border-color:#ec4e00;
  } */
  .item span:nth-of-type(2n) {
    position:absolute;
    font-size:22px;
    font-weight:400;
    right:0;
    padding-left:8px;
    background-color: ivory;
    z-index:0;
  }
  .item h4 {
    display:inline-block;
    padding-right:8px;
    font-size:1.25rem;
    max-width:80%;
    text-transform:capitalize;
    margin-bottom:4px;
    position:relative;
  }

/* End of Menu CSS */

/* Hero Scroll btn animation */
@keyframes bounce { 
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}


  

/* Nav */
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 125px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }

/* For Computers */
@media (min-width:1200px) {
  .container-custom { width: 1140px;}
}
@media (min-width:1400px) {
  .container-custom { width: 1340px;}
}
@media (min-width:1600px) {
  .container-custom { width: 1520px;}
}



 
/* For mobile devices below (767px) */
@media screen and  (max-width:767px) {
    .navbar-nav {
        text-align: center;
    }

    .Mobile-site-title {
      display: block;
      color: #fff;
      font-weight: 700;
    }

    .hero {
      height: 75vh;
  }
    
    .panini-text {
      font-size: 1.5rem;
    }

    .h3 {
      font-size: 1rem;
    }

    .offcanvas {
      background-color: #2f1900;
    }

    .offcanvas-title {
      color: #fff;
      
    }
    
    .btn-close:focus {
      outline: none;
      box-shadow: none;
    }

    .navbar .navbar-nav .nav-link {
      padding: 1rem;
      font-size: 3rem;
    }
    
    
    
}
/* For tablets below (767px) */
@media screen and  (max-width:1024px) {
    .navbar-nav {
        text-align: center;
    }
    
}


/* phones less than 280px */
@media screen and (max-width:300px) {
  .Mobile-site-title {
    display: none;
  }
}