
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #2f1900;
}

.navbar-brand img {
    width: 80px;
  }
.navbar-nav {
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    /* font-family: 'Franklin Gothic Medium';
    font-weight: 300; */
  }
.navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
  }

/* Link hover effect */

.navbar-nav .nav-link:hover {
  color: #F9D08A;
}


/* Mobile offcanvas Nav */

.Mobile-site-title {
    display: none;
  }

  
.offcanvas {
  background-color: #2f1900;
}

.offcanvas-brand {
  color: white;
}

#offcanvasExample {
  width: 100%;
}

.offcanvas-title {
  color: #fff;
  text-align: left;
  font-weight: bold;
  width: 100%;
}

.btn-close:focus {
  outline: none;
  box-shadow: none;
}

.btn-close {
  font-size: 1.5rem;
}

.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
    background: burlywood;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.hero-content {
  z-index: 1;
}

.hero-content-width {
  text-align: center; 
}

/* Custom Container for overlay */

.container-custom {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

/* End of custom container */

.hero-scroll-btn a {
    text-decoration: none;
}
.hero-scroll-btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  color: #fff;
}

.hero-scroll-btn:hover {
    color: lightgray;
}

.hero-scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

/* Gallery section */

.gallery-section {
  overflow: hidden;
  background-color: ivory;
}

/* About us section */
.about-us-section {
  overflow: hidden;
  background-color: ivory;
}

/* MENU */
/* Start of Menu CSS */
.menu-section {
/* padding-left: 1rem;
padding-right: 1rem; */
overflow: hidden;
background-color: ivory;
}

/* Contact */

.Contact-us-form {
  overflow: hidden;
  background-color: ivory;
}

.content {
  padding: 2rem 0; }

.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000;
  font-size: 13px; }

.btn, .form-control, .custom-select {
  height: 45px; }

.custom-select:active, .custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000; }

.btn {
  border: 3px solid #F9D08A;
  border-radius: 0;
  font-size: 12px;
  letter-spacing: .2rem;
  text-transform: uppercase; 
  background-color: #F9D08A;
}
  .btn.btn-primary {
    background: #F9D08A;
    color: black;
    padding: 15px 20px; }
  .btn:hover {
    color: black; }
  .btn:active, .btn:focus {
    background-color: #F9D08A;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0; }

.contact-wrap .form, .contact-wrap .contact-info {
  padding: 40px; }

.contact-wrap .contact-info {
  color: rgba(255, 255, 255, 0.5); }
  .contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5); }
    .contact-wrap .contact-info ul li .wrap-icon {
      font-size: 20px;
      color: #fff;
      margin-top: 5px; }

.contact-wrap .form {
  background: ivory; }
  .contact-wrap .form h3 {
    color: #F9D08A;
    font-size: 20px;
    margin-bottom: 30px; }

.contact-wrap .contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
  .contact-wrap .contact-info a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  @media (max-width: 1199.98px) {
    .contact-wrap .contact-info {
      height: 400px !important; } }
  .contact-wrap .contact-info h3 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }


/* End of Contact */

/* Footer */

footer {
  background-color: #2f1900;
}

.bi {
  font-size: 2rem;
}

h3 {
    display:inline-block;
    font-size:32px;
    line-height:36px;
    position:relative;
    margin-top:28px;
    margin-bottom:15px;
  }
  h3:before{
    left:-40px;
    height:0;
    height:1px;
  }
  h3:before, h3:after {
    content:"";
    position:absolute;
    bottom:18px;
    height:1px;
    width:40px;
    margin:0 -15px;
    background-color:#533834;
  }
  h3:after{
    right:-40px;
  }
  h5 {
    font-size:16px;
    line-height:22px;
    margin:0 0 15px;
    font-weight:400;
  }
  .item {
    position:relative;
    overflow:hidden;
    margin-bottom:20px;
  }
  .item h4, .item p {
    display:block;
    clear:both;
    color:#533834;
  }
  .item p {
    clear:both;
    color:#938372;
    margin-left:5px;
  }
  .item span:first-of-type {
    background-image:linear-gradient(to right,rgba(56,47,47,.5) 33%,rgba(0,0,0,0) 0%);
    background-position:bottom;
    background-size:3px 1px;
    background-repeat:repeat-x;
    height:1px;
    width:100%;
    position:absolute;
    top:22px;
  }

  /* Dots in IE */
  @media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
    .dots {
      background:transparent url('/img/dot.gif') repeat-x bottom left;
    }
  }

  .item span:nth-of-type(2n) {
    position:absolute;
    font-size:22px;
    font-weight:400;
    right:0;
    padding-left:8px;
    background-color: ivory;
    z-index:0;
  }
  .item h4 {
    display:inline-block;
    padding-right:8px;
    font-size:1.25rem;
    max-width:80%;
    text-transform:capitalize;
    margin-bottom:4px;
    position:relative;
  }

/* End of Menu CSS */

/* Hero Scroll btn animation */
@keyframes bounce { 
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}


  

/* Nav */
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 125px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }

/* For Computers */
@media (min-width:1200px) {
  .container-custom { width: 1140px;}

  html {font-size: 1.4em;}
  footer {font-size: 20px;}
  .about-us-section { font-size: 1em;}
  .location-title {font-size: 1.2em;}
  .story-top {font-size: 2.5em; width: 100%;}
  .mobile-title {
    display: none;
  }

  /* .Our-story { font-size: 1.5em;}

  .location-title {font-size: 1.7em;} */
}
@media (min-width:1400px) {
  .container-custom { width: 1340px;}
}
@media (min-width:1600px) {
  .container-custom { width: 1520px;}
}



 
/* For mobile devices below (767px) */
@media screen and  (max-width:767px) {
    .navbar-nav {
        text-align: center;
    }

    .Mobile-site-title {
      display: block;
      color: #fff;
      font-weight: 700;
    }

    .hero {
      height: 75vh;
  }
    
    .panini-text {
      font-size: 1.5rem;
    }

    .h3 {
      font-size: 1rem;
    }

    .offcanvas {
      background-color: #2f1900;
    }

    .offcanvas-title {
      color: #fff;
      
    }
    
    .btn-close:focus {
      outline: none;
      box-shadow: none;
    }

    .navbar .navbar-nav .nav-link {
      padding: 1rem;
      font-size: 3rem;
    }
    
    .FoodItem {
      width: 100%;
    }
    
    
}
/* For tablets below (767px) */
@media screen and  (max-width:1024px) {
    .navbar-nav {
        text-align: center;
    }
    
}


/* phones less than 280px */
@media screen and (max-width:300px) {
  .Mobile-site-title {
    display: none;

    
  }
}

@media screen and (max-width:575px){
  .FoodItem {
    width: 50%;
  }
}

/* mac */

@media screen and (max-width: 1280px) {
  .hero .hero-content { font-size: 1em;}
  .navbar-brand img {
    width: 90px;
  }
  .hero .hero-content { padding-top: 5rem;}

}
  